# .gitignore

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# PyCharm IDE settings
.idea/

# Databases
*.sqlite
